*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: chocolate;
    color: #fff;
}
.board{
    width: 300px;
    height: 300px;
    margin: 15px;
    color: #fff;
    border-radius: 15px;
    background-color: khaki;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
}
.block{
    color: #fff;
    background-color: chocolate;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.75rem;
}
.block:hover{
    background-color: rgb(163, 80, 20);
    box-shadow: inset 5px 5px 10px rgb(160, 80, 20);
}
h1,h2{
    text-align: center;
    color: #fff;
}
.replay-btn{
    font-size: 16.5px;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: khaki;
    color: chocolate;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}


@media  screen and (min-width:600px) {
    .board{
        width: 400px;
        height: 400px;
    }
    .block{
        width: 100px;
        height: 100px;
    }
   
}
